body{
  font-family: sans-serif;
}
#logo {
  width: 200px;
}

.btn {
  background-color: mediumspringgreen;
}
#articles{
  background-color: lightcoral;
  width: 500px;
  border: 50px lightpink;
  padding: 25px;
  margin: 25px;
}
#map{
  float: right;
}
#buttons{
  position: relative;
}
